#sect1 {  
    height: 650 px;  
    color: #fff;background-image: url("../../../../src/assets/airline_image.jpg");  
    // background-size: 100%;
    background-size: 100%;
    width: 100%;
    height: 85%;
}

.text-style{
    color :black;
    text-align: center;
    padding-top: 0.5%;
}