<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="flexSpaceBetween"></span>
      <span>
        <a mat-button [routerLink]="'home'"> <mat-icon >home</mat-icon> </a>
        <a mat-button [routerLink]="'user/searchticket'"> Book Ticket </a>
        <a mat-button [routerLink]="'user/bookinghistory'"> Booking History </a>
      </span>
      <span class="flexExpand"></span>
      <span>
        <a mat-button [routerLink]="'admin/login'"> Admin </a>  
      </span>
    </mat-toolbar-row>
  
  </mat-toolbar>